FeedPlugin/library/build/intermediates/symbols/debug/R.txt
FeedPlugin/library/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
FeedPlugin/library/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
FeedPlugin/library/FeedApi.iml
FeedPlugin/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_3_jar.xml
FeedPlugin/.gradle/vcsWorkingDirs/gc.properties
FeedPlugin/.gradle/buildOutputCleanup/outputFiles.bin
FeedPlugin/.gradle/buildOutputCleanup/buildOutputCleanup.lock
FeedPlugin/.gradle/4.6/taskHistory/taskHistory.lock
FeedPlugin/.gradle/4.6/fileHashes/fileHashes.lock
FeedPlugin/.gradle/4.6/fileHashes/fileHashes.bin
FeedPlugin/.gradle/4.6/fileChanges/last-build.bin
FeedPlugin/library/build/generated/source/buildConfig/debug/com/feed/plugin/BuildConfig.java
FeedPlugin/library/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/com/feed/plugin/R.java
FeedPlugin/.idea/runConfigurations.xml
FeedPlugin/.idea/modules.xml
FeedPlugin/.idea/gradle.xml
FeedPlugin/.idea/codeStyles/Project.xml
FeedPlugin/.gradle/4.6/taskHistory/taskHistory.bin
FeedPlugin/library/build/intermediates/packaged_res/debug/layout/activity_img_edit.xml
FeedPlugin/library/build/intermediates/packaged_res/debug/layout/activity_gallery.xml
FeedPlugin/library/build/intermediates/merged_manifests/debug/processDebugManifest/merged/output.json
FeedPlugin/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_3.xml
FeedPlugin/.idea/libraries/Gradle____local_aars___D__UnityProject_Android_ImageFeedUnity_FeedPlugin_library_libs_unity_classes_jar_unspecified_jar.xml
FeedPlugin/.gradle/buildOutputCleanup/cache.properties
FeedPlugin/library/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
FeedPlugin/library/build/intermediates/incremental/packageDebugResources/merger.xml
FeedPlugin/FeedPlugin.iml
FeedPlugin/.idea/workspace.xml
FeedPlugin/.idea/caches/build_file_checksums.ser
FeedPlugin/library/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output.json
FeedPlugin/library/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
FeedPlugin/.idea/misc.xml
FeedPlugin/library/build/outputs/logs/manifest-merger-debug-report.txt
FeedPlugin/library/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/constraint/R.java
FeedPlugin/library/build/intermediates/packaged_res/debug/values/values.xml
FeedPlugin/library/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
